main
  section.art-of-cakes
    .about-chef
      text-align: center
      h3
        margin-top: 0
        font-family: Alegreya
        font-weight: 700
        line-height: 30px
        color: #56534c
        font-size: 48px
      p
        color: #a47d5e
        font-size: 14px
        text-transform: uppercase
      p.description
        color: #56534c
        font-family: Arial
        font-size: 14px
        font-weight: 400
        line-height: 24px
      ul.chef
        height: 120px
        display: inline-block
        li
          margin-top: 20px
          width: 111px
          height: 58px
          float: left
          border-bottom: 1px solid #d7d5ca
          border-top: 1px solid #d7d5ca
          // text style for "chef"
          color: #56534c
          font-family: Alegreya
          font-size: 24px
          font-weight: 400
          line-height: 50px
          &:nth-child(2)
            margin: 0 25px
            width: 110px
            height: 110px
            border-radius: 50%
            box-shadow: 0 7px 9px rgba(0, 0, 0, 0.93)
            background-color: #fff
            background-image: url(../img/chif-pic.png)
    .cackes-photoes
      .cacke
        margin-bottom: 20px
        height: 250px
        background-repeat: no-repeat
        background-size: cover
      .one
        background-image: url(../img/cake-1.png)
      .two
        background-image: url(../img/cake-2.png)
      .three
        background-image: url(../img/cake-3.png)
      .four
        background-image: url(../img/cacke-4.png)
